@page "/om"
<div class="about-info">
    <h1>Om FormBud</h1>
    <div>
        <p>
            FormBud är Sveriges första auktionssida helt dedikerad till retro möbler. Här möts 50-talets teak, 60-talets färger och 70-talets former i en levande marknadsplats där du kan buda hem originalmöbler med historia – till rätt pris.
        </p>
        <br />
        <p>
            Oavsett om du letar efter en klassisk Stringhylla, en dansk designfåtölj eller ett charmigt köksbord med kromben, hittar du det hos oss. Vi samlar noggrant utvalda möbler från hela landet och ger dem nytt liv genom en trygg, smidig och transparent auktionsupplevelse. Alla möbler har sin egen berättelse – och på FormBud får du chansen att bli en del av den.
            FormBud handlar inte bara om stil. Det är också ett hållbart sätt att inreda. Genom att köpa vintage bidrar du till en mer cirkulär möbelkultur – utan att kompromissa med estetik eller kvalitet.
        </p>

        <br />
        <p> Välkommen till FormBud – där retro aldrig går ur tiden.</p>
    </div>
</div>

@code {

}
