@page "/"
@using FormBudApp.Models;
@inject HttpClient Http



<PageTitle>Produkter</PageTitle>

<h1>Hello, world!</h1>



@if (productList == null)
{
    <p><em>Laddar produkter...</em></p>
}
else
{
    <div class="table-wrap">

        <div class="article-container">
                @foreach (var product in productList)
                {
                    <article>
                        <p>@product.ProductName</p>
                        <p>@product.TimeLeft</p>

                        @if (product.IsSold == false)
                        {
                            <p>Inte såld</p>
                        }
                        else
                        {
                            <p>Såld</p>
                        }
                        <button><NavLink class="btn btn-primary" href="@($"/product/{product.Id}")">Till produkt</NavLink></button>

                    </article>
                }
            </div>
    </div>
}

@code {
   

    private Product[]? productList;

    protected override async Task OnInitializedAsync()
    {
        productList = await Http.GetFromJsonAsync<Product[]>("http://localhost:5021/api/products");
    }





}
