
.product-container {
    display: flex;
    max-width: 80rem;
    width: 100%;
    margin: 5rem auto;
    justify-content: space-between;
}

.btn-submit {
    width: 100%;
    max-width: 30rem;
    background-color: #E3A23C;
    border: none;
    padding: 1rem;
    font-family: poppins;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.form-title {
    background-color: #6C6C6C;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    max-width: 30rem;
    width: 100%;
    margin-bottom: 0rem;
}

.table {
    background-color: #F3F1F1;
    max-width: 30rem;
    width: 100%;
    border-collapse: collapse;
}

.table-wrap {
    height: 30rem;
    overflow-y: scroll;
}

.table tr {
    border-bottom: 1.5px solid rgba(108,108,108, 0.5);
}
.table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.table tfoot {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: #2B594D;
    color: white;
    width: 100%;
    display: block;
}

.table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table th, .table td {
    padding: 1rem;
}

.table th {
    font-size: 2rem;
}

.form-bid-wrap {
    max-width: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 5rem;
}
